/*-----index.jsp-----*/
.div-index {
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    background: white;
}

.div-head {
    width: 99.84%;
    height: 7.5%;
    border: 1px solid gray;
    background: white;
    float: left;
}

.div-index-list {
    width: 99.84%;
    height: 7.5%;
    border: 1px solid gray;
    background: white;
    float: left;
}

.div-left {
    width: 10%;
    height: 84.2%;
    border: 1px solid gray;
    background: white;
    float: left;
}

.div-right {
    width: 89.72%;
    height: 84.2%;
    border: 1px solid gray;
    background: white;
    float: left;
}

.iframe-head {
    width: 100%;
    height: 100%;
}

.iframe-body {
    width: 100%;
    height: 100%;
}