/*-----welcome.jsp-----*/
.body-welcome {
    background: url(../images/welcome/innerworld.png);
    background-size: cover;
}

.div-welcome {
    width: 20%;
    float: right;
    text-align: center;
    align-items: center;
}

.a-welcome {
    text-decoration: none;
}

.span-welcome {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
